html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgb(10, 25, 47);
  font-family: "Exo 2", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css resest end */
/* custom styles */
.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.flex {
  display: flex;
}
.flex_43 {
  flex: 0 1 43%;
}
.flex_35 {
  flex: 0 1 35%;
}
.justify_between {
  justify-content: space-between;
}
.justify_center {
  justify-content: center;
}
.items_center {
  align-items: center;
}
.flex_wrap {
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: white;
}
img {
  width: 100%;
}
.loading_indicator {
  width: 100%;
  height: 80vh;
}
.NotFoundImage {
  width: 60%;
}
.NotFound {
  height: 100vh;
  opacity: 70%;
}
/* hero */
.carousel_image {
  width: 100%;
  height: 890px;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}
.hero {
  position: relative;
}
.Movie_Details {
  width: 35%;
  position: absolute;
  top: 37%;
  z-index: 555;
  color: rgba(255, 255, 255, 0.74);
  left: 15%;
  text-align: left;
}
.Movie_Details h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.Movie_Details .description {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: grey;
}
.Movie_Details .direction_dep {
  color: white;
}
.header {
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 999;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.342);
}

.signin_signup .user_details .userIcon {
  font-size: 1.5rem;
  margin-right: 0px;
  color: rgba(255, 255, 255, 0.788);
}
.signin_signup .header_logo {
  width: 250px;
}
.clear {
  clear: both;
}
.signin_signup p {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 900;
}
.sign_in {
  background-color: rgba(0, 128, 0, 0.712);
}
.signin_signup .user_details .logout {
  margin-left: 30px;
  background-color: white !important;
  font-weight: 900;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}
/* sample cards */
.AddedMovies {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 3rem;
  margin-left: 1.3rem;
}
.Card3 {
  position: relative;
  display: block;
  width: 17%;
  height: 300px;
  margin: 3em 1em;
  overflow: hidden;
  background: #000;
  box-shadow: rgba(6, 33, 63, 0.129412) 0px 1px 2px 0px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.Card3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Card3:hover img {
  top: 30%;
  opacity: 0.5;
}

.Card3 .overlay {
  position: absolute;
  bottom: calc(-80% + 50px);
  left: 0px;
  width: 100%;
  height: 80%;
  background: #fff;
  background: rgba(255, 255, 255, 0.74);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Card3:hover .overlay {
  bottom: 0px;
}

.Card3 .overlay .line {
  width: 100%;
  text-align: left;
  line-height: 50px;
  padding: 0em 1em;
  color: black;
}
.Card3 .overlay .content {
  text-align: left;
  padding: 1em;
  color: black;
}
.Card3:last-child img,
.Card3:nth-child(9) img {
  margin-top: -20px;
}
.AddMovie {
  width: 2rem;
  height: 2rem;
  color: white;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 20%;
  padding: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.096);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.5s cubic-bezier(0.4, 0.24, 0.83, 0.67);
}
.AddMovie:hover {
  margin-top: -1.5rem;
}
.AddMovie p {
  font-size: 2rem;
  margin-top: -0.3rem;
  font-weight: 900;
}
/* signe in  */
form {
  /* border: 1px solid red; */
  border: 1px solid rgba(128, 128, 128, 0.247);
  padding: 3rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 12px;
  background-color: rgb(3, 18, 41);
}

label {
  display: block;
  color: white;
}
.signInpage {
  margin-top: 5rem;
  height: 90vh;
}
.signin_imageSEC {
  margin-right: 3rem;
  opacity: 80%;
}
input {
  width: 98%;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.596);
  background: none;
  padding: 7px 3px;
  margin-top: 0.5rem;
  outline: none;
  color: white;
}
.setInput {
  margin: 1rem 0;
}
.heading_signin {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 900;
  margin-bottom: 2rem;
}
.buttons {
  margin-top: 1.3rem;
}
.buttons p {
  margin-left: 0.5rem;
  color: white;
}
.buttons button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background: black;
}
/* Add Movies */
.AddMovieSec {
  margin-top: 4rem;
  height: 90vh;
}
.AddMovieRightSec {
  height: 90vh;
  overflow-y: scroll;
  border-left: 4px solid rgba(128, 128, 128, 0.507);
  padding-left: 3rem;
  border-radius: 5px;
}
.AddMovieRightSec::-webkit-scrollbar {
  width: 0;
}
.addMovieImage {
  width: 70%;
  display: block;
  margin: auto;
}
.Card1 {
  position: relative;
  background: #fff;
  margin: 1em;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  border-radius: 3px;
  height: 250px;
  max-width: 600px;
  width: 90%;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.Card1 .photo {
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: left;
  height: 100%;
  width: 35%;
  margin-top: -0.1rem;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  transform: rotate(-5deg) scale(1.1);
  z-index: 45896;
}
.Card1:hover .photo {
  -webkit-transform: rotate(3deg) scale(1.3);
  -moz-transform: rotate(3deg) scale(1.3);
  -ms-transform: rotate(3deg) scale(1.3);
  -o-transform: rotate(3deg) scale(1.3);
  transform: rotate(3deg) scale(1.3);
}

.Card1 .description {
  padding: 1em;
  position: relative;
  margin-left: 15rem;
  height: 100%;
  width: 50%;
  z-index: 9999;
}
.Card1 .description:before {
  content: "";
  background: #fff;
  background: transparent;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-5deg);
  -moz-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  -o-transform: skewX(-5deg);
  transform: skewX(-5deg);
  color: white;
}

.Card1 .description .line h2 {
  font-size: 1.3rem;
  padding: 0.5em 0px;
  font-weight: bold;
  /* margin-top: 0.2rem; */
}
.Card1 .description .product_price {
  float: right;
  color: gray;
}
.Card1 .description h2 {
  color: #9b9b9b;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
}
.Card1 .description p {
  position: relative;
  padding: 2em 0px 1em 0.5em;
}

.Card1 .description p:after {
  content: "";
  background: gray;
  height: 6px;
  width: 5em;
  position: absolute;
  top: 0.6em;
  left: 0px;
}
.listAllMovies {
  width: 6rem;
  height: 2rem;
  color: black;
  font-weight: 900;
  border-radius: 10px;
  position: fixed;
  bottom: 5%;
  left: 3%;
  background: rgb(249, 170, 74);
}
/* Each Article */
.eachArticle {
  height: 100vh;
  width: 100%;
  background: rgb(31, 29, 29);
}
.eachArticle .right {
  height: 100%;
}
.eachArticle .right img {
  height: 100%;
  width: 90%;
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
}
.eachArticle .content {
  width: 78%;
  color: white;
  margin-left: 8rem !important;
}
.eachArticle h2 {
  font-size: 4rem;
}

.eachArticle p {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
  color: gray;
}
.conclusion_app {
  position: relative;
  margin-top: -55px;
  color: gray;
  margin-left: 3rem;
}
.conclusion_app img {
  width: 20px;
  margin-left: 5px;
}
.edit_delete_icons {
  margin-top: 1rem;
  margin-left: 0.3rem;
}
.EditButton,
.DeleteButton {
  border: none;
  background: none;
  background-color: honeydew;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 900;
  cursor: pointer;
}
.DeleteButton {
  background-color: darkslategrey;
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.616);
}
/*  */

/* media queries responsive design */

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .flex_43,
  .flex_35 {
    flex: 0 1 100%;
  }
  .container {
    width: 90%;
  }
  .Movie_Details {
    width: 70%;
  }
  .carousel_image {
    height: 700px;
  }
  .Card3 {
    width: 29.5%;
  }

  .right img,
  .left {
    width: 100% !important;
  }
  .AddMovie {
    background-color: black;
    border: 1px solid gray;
  }
  .column {
    flex-direction: column;
  }
  .AddMovieRightSec {
    overflow: none !important;
    border: none;
  }
  .AddMovieSec_left {
    margin-top: 3rem;
  }
  .listAllMovies {
    z-index: 999985;
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }
  .header_logo {
    width: 140px !important;
  }
  .Movie_Details,
  .Movie_Details .description {
    font-size: 12px;
  }
  .carousel_image {
    height: 500px;
  }
  .Card3 {
    width: 44%;
    height: 250px;
  }
  .Card1 {
    width: 95%;
    height: 200px;
  }
  .column {
    flex-direction: column !important;
  }
  .eachArticle {
    flex-direction: column-reverse;
    height: 100%;
    background-color: rgb(10, 25, 47);
  }
  .eachArticle .content {
    margin-bottom: 70px;
    margin-left: 0px !important;
  }
  .eachArticle .content h2 {
    font-size: 3rem;
  }
  .conclusion_app {
    width: 80%;
  }
  .form {
    width: 90%;
  }
  .AddMovieRightSec {
    margin-top: 5rem;
    border-left: none;
    padding-left: 0;
  }
  .EditButton,
  .DeleteButton {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 365px) {
  html {
    font-size: 10px;
  }
  .header_logo {
    width: 140px !important;
  }
  .Movie_Details,
  .Movie_Details .description {
    font-size: 12px;
    top: 25%;
  }
  .carousel_image {
    height: 450px;
  }
  .Card3 {
    width: 100%;
    height: 400px;
  }
}
